@import "../defines.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.homepage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    &__container {
        width: 1440px;
        height: max-content;
        padding: 175px 100px 60px 100px;
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
}

.hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &__img {
        width: 600px;
    }

    &__content {
        width: 530px;
        display: flex;
        flex-direction: column;
        gap: 35px;

        &__title {
            font-size: 60px;
            font-weight: 500;
        }

        &__description {
            font-size: 20px;
        }

        &__btn {
            width: max-content;
            color: $defaultWhite;
            background-color: $defaultDark;
            font-size: 20px;
            padding: 20px 35px;
            border: 1px solid $defaultDark;
            border-radius: 14px;
            cursor: pointer;
            transition: .4s;

            &:hover {
                color: $defaultDark;
                background-color: $defaultWhite;
                transition: .4s;
            }
        }
    }
}

.partners {
    display: flex;
    justify-content: space-between;

    &__logo {
        filter: saturate(0);
        width: auto;
        height: 48px;
        text-decoration: none;
    }
}

.services {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 70px;

    &__head {
        display: flex;
        align-items: center;
        gap: 40px;

        &__title {
            font-size: 40px;
            font-weight: 500;
            background-color: $defaultGreen;
            padding: 0px 7px;
            border-radius: 7px;
        }

        &__description {
            width: 580px;
            font-size: 18px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 40px;

        &__card {
            width: 600px;
            height: 310px;
            padding: 50px;
            // background-color: $defaultGrey;
            border-radius: 45px;
            border: 1px solid $defaultDark;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: space-between;
            filter: drop-shadow(0px 5px 0px #191A23);

            &__info {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &__title {
                    &__el {
                        width: max-content;
                        font-size: 30px;
                        font-weight: 500;
                        // background-color: $defaultGreen;
                        padding: 0px 7px;
                        border-radius: 7px;
                    }
                }

                &__link {
                    text-decoration: none;
                    color: var(--text-color);
                    position: relative;
                    transition: all 0.2s ease;

                    &:before {
                        content: "";
                        position: absolute;
                        top: -8px;
                        left: 0;
                        display: block;
                        border-radius: 28px;
                        background: var(--bg-color, #000);
                        width: 44px;
                        height: 44px;
                        transition: all 0.3s ease;
                    }

                    &__text {
                        position: relative;
                        font-size: 20px;
                        margin-left: 30px;
                    }

                    &__icon {
                        position: relative;
                        top: 0;
                        margin-left: 12px;
                        margin-bottom: -6px;
                        width: 20px;
                        transform: rotate(-25deg);
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        color: var(--text-hover-color, #000) !important;

                        &__text{
                            color: $defaultGreen;
                        }

                        &:before {
                            width: 200px;
                            background: var(--bg-color, #000);
                        }

                        &__icon {
                            transform: translateX(0);
                        }
                    }

                    &:active {
                        transform: scale(0.96);
                    }
                }

            }

            &__img {
                width: 210px;
                height: 166px;
            }
        }
    }
}


.cta {
    margin-top: 70px;

    &__block {
        width: 100%;
        height: 317px;
        padding: 0 60px;
        display: flex;
        align-items: center;
        gap: 182px;
        background-color: $defaultGrey;
        border-radius: 45px;

        &__content {
            width: 500px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__title {
                font-size: 30px;
                font-weight: 500;
            }

            &__text {
                font-size: 18px;
            }

            &__btn {
                width: max-content;
                color: $defaultWhite;
                background-color: $defaultDark;
                font-size: 20px;
                padding: 20px 35px;
                border: 1px solid $defaultDark;
                border-radius: 14px;
                cursor: pointer;
                transition: .4s;

                &:hover {
                    color: $defaultDark;
                    background-color: $defaultGrey;
                    transition: .4s;
                }
            }
        }

        &__img {
            width: 359px;
        }
    }
}


.case-studies {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 70px;

    &__head {
        display: flex;
        align-items: center;
        gap: 40px;

        &__title {
            font-size: 40px;
            font-weight: 500;
            background-color: $defaultGreen;
            padding: 0px 7px;
            border-radius: 7px;
        }

        &__description {
            width: 580px;
            font-size: 18px;
        }
    }

    &__content {
        width: 100%;
        padding: 70px 60px;
        background-color: $defaultDark;
        border-radius: 45px;
        display: flex;

        &__block {
            width: 286px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__description {
                color: $defaultWhite;
                font-size: 18px;
            }

            &__link {
                display: flex;
                align-items: center;
                gap: 15px;
                color: $defaultGreen;
                font-size: 20px;
                text-decoration: none;
                transition: .4s;

                &__icon {
                    width: 18px;
                    transform: rotate(-25deg);
                    fill: $defaultGreen;
                    margin-bottom: -1px;
                }

                &:hover {
                    transform: translateY(-4px);
                    transition: .4s;
                }
            }
        }

        &__span {
            display: block;
            width: 1px;
            height: 186px;
            background-color: $defaultWhite;
            margin: 0 64px;
        }
    }
}


.working-process {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 70px;

    &__head {
        display: flex;
        align-items: center;
        gap: 40px;

        &__title {
            font-size: 40px;
            font-weight: 500;
            background-color: $defaultGreen;
            padding: 0px 7px;
            border-radius: 7px;
        }

        &__description {
            width: 292px;
            font-size: 18px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__block {
            width: 100%;
            padding: 41px 60px;
            background-color: $defaultGrey;
            border-radius: 45px;
            border: 1px solid $defaultDark;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            filter: drop-shadow(0px 5px 0px #191A23);
            transition: .2s;

            &__head {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__content {
                    display: flex;
                    align-items: center;
                    gap: 25px;

                    &__number {
                        font-size: 60px;
                        font-weight: 500;
                    }

                    &__title {
                        font-size: 30px;
                        font-weight: 500;
                    }
                }

                &__btn {
                    background: none;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: .4s;

                    &:hover {
                        transform: translateY(-4px);
                        transition: .4s;
                    }

                    &__icon {
                        width: 58px;
                    }
                }
            }

            &__main{
                transition: .4s;

                &__span{
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $defaultDark;
                    margin: 30px 0;
                }

                &__description{
                    font-size: 18px;
                }
            }
        }
    }
}


.team {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 70px;

    &__head {
        display: flex;
        align-items: center;
        gap: 40px;

        &__title {
            font-size: 40px;
            font-weight: 500;
            background-color: $defaultGreen;
            padding: 0px 7px;
            border-radius: 7px;
        }

        &__description {
            width: 473px;
            font-size: 18px;
        }
    }

    &__content {
        display: flex;
        column-gap: 40px;
        row-gap: 40px;
        flex-wrap: wrap;

        &__card {
            width: 385px;
            height: 354px;
            padding: 40px 35px;
            background-color: $defaultWhite;
            border-radius: 45px;
            border: 1px solid $defaultDark;
            overflow: hidden;
            filter: drop-shadow(0px 5px 0px #191A23);

            &__head {
                display: flex;
                align-items: end;

                &__linkedin {
                    margin-bottom: 67px;

                    &__icon {
                        width: 34px;
                    }
                }

                &__img {
                    width: 105px;
                    margin-right: 20px;
                }

                &__info {
                    &__name {
                        font-size: 20px;
                        font-weight: 500;
                    }

                    &__job {
                        font-size: 18px;
                    }
                }
            }

            &__main {
                &__span {
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $defaultBlack;
                    margin: 28px 0;
                }

                &__description {
                    font-size: 18px;
                }
            }
        }
    }

    &__footer {
        width: 100%;

        &__btn {
            float: right;
            width: max-content;
            color: $defaultWhite;
            background-color: $defaultDark;
            font-size: 20px;
            padding: 20px 35px;
            border: 1px solid $defaultDark;
            border-radius: 14px;
            cursor: pointer;
            transition: .4s;

            &:hover {
                color: $defaultDark;
                background-color: $defaultWhite;
                transition: .4s;
            }
        }
    }
}


.testimonials{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 70px;

    &__head {
        display: flex;
        align-items: center;
        gap: 40px;

        &__title {
            font-size: 40px;
            font-weight: 500;
            background-color: $defaultGreen;
            padding: 0px 7px;
            border-radius: 7px;
        }

        &__description {
            width: 473px;
            font-size: 18px;
        }
    }

    &__main{
        width: 100%;
        height: 625px;
        overflow: hidden;
        background-color: $defaultDark;
        border-radius: 45px;
        display: flex;
        flex-direction: column;
        gap: 124px;
        align-items: center;
        justify-content: center;

        &__content{
            width: 100%;
            display: flex;
            // justify-content: center;
            align-items: center;
            gap: 50px;

            &__block{
                display: flex;
                flex-direction: column;
                gap: 20px;

                &:first-of-type{
                    margin-left: 315px;
                }

                &__comment{
                    width: 606px;
                    height: 266px;
                    background-image: url("../../img/bubble.png");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    &__text{
                        margin-top: -28px;
                        color: $defaultWhite;
                        font-size: 18px;
                        text-align: center;
                        width: 502px;
                    }
                }

                &__author{
                    margin-left: 85px;
                    &__name{
                        font-size: 20px;
                        color: $defaultGreen;
                    }

                    &__job{
                        color: $defaultWhite;
                        font-size: 18px;
                    }
                }
            }
        }

        &__navigation{
            width: 606px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__arrowleft{
                background: none;
                outline: none;
                border: none;
                transform: rotate(180deg);
                cursor: pointer;

                &__icon{
                    width: 22px;
                    fill: $defaultWhite;
                }
            }

            &__stars{
                display: flex;
                gap: 20px;
            }

            &__arrowright{
                background: none;
                outline: none;
                border: none;
                cursor: pointer;
                
                &__icon{
                    width: 22px;
                    fill: $defaultWhite;
                }
            }
        }
    }
}