@import "../defines.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

.header{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: $defaultOpacityWhite;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    z-index: 99;

    &__container{
        width: 1440px;
        height: 100%;
        padding: 40px 100px 15px 100px;
        display: flex;
        justify-content: space-between;
    }
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: $defaultBlack;

    &__img{
        width: 36px;
        height: 36px;
    }

    &__name{
        font-size: 36px;
    }
}

.navigation{
    display: flex;
    align-items: center;
    gap: 40px;
    &__link{
        font-size: 20px;
        padding: 3px 5px;
        border-radius: 5px;
        text-decoration: none;
        color: $defaultBlack;
        transition: .4s;

        &:hover{
            background-color: $opacityGreen;
            transition: .4s;
        }
    }

    &__button{
        color: $defaultBlack;
        background-color: $defaultWhite;
        font-size: 20px;
        padding: 20px 35px;
        border: 1px solid $defaultBlack;
        border-radius: 14px;
        cursor: pointer;
        transition: .4s;

        &:hover{
            background-color: $defaultGreen;
            border-color: $defaultGreen;
            transition: .4s;
        }
    }
}
